<p id="notice"><%= notice %></p>

<p>
  <strong>Cadastro:</strong>
  <%= @unidade.cadastro_id %>
</p>

<p>
  <strong>Insc imob:</strong>
  <%= @unidade.insc_imob %>
</p>

<p>
  <strong>Insc imb anterior:</strong>
  <%= @unidade.insc_imb_anterior %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @unidade.unidade %>
</p>

<p>
  <strong>Tipo imovel:</strong>
  <%= @unidade.tipo_imovel %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @unidade.matricula %>
</p>

<p>
  <strong>Cod face:</strong>
  <%= @unidade.cod_face %>
</p>

<p>
  <strong>Quadra:</strong>
  <%= @unidade.quadra %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @unidade.lote %>
</p>

<p>
  <strong>Sub lote:</strong>
  <%= @unidade.sub_lote %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @unidade.setor %>
</p>

<p>
  <strong>Loteamento:</strong>
  <%= @unidade.loteamento %>
</p>

<p>
  <strong>Zoneamento:</strong>
  <%= @unidade.zoneamento %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @unidade.logradouro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @unidade.cep %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @unidade.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @unidade.complemento %>
</p>

<p>
  <strong>Info complementar:</strong>
  <%= @unidade.info_complementar %>
</p>

<%= link_to 'Edit', edit_unidade_path(@unidade) %> |
<%= link_to 'Back', unidades_path %>
