<p id="notice"><%= notice %></p>

<p>
  <strong>Unidade:</strong>
  <%= @bci.unidade_id %>
</p>

<p>
  <strong>Data cadastro:</strong>
  <%= @bci.data_cadastro %>
</p>

<p>
  <strong>Zoneamento:</strong>
  <%= @bci.zoneamento %>
</p>

<p>
  <strong>Tp patrimonio:</strong>
  <%= @bci.tp_patrimonio %>
</p>

<p>
  <strong>Classe edif:</strong>
  <%= @bci.classe_edif %>
</p>

<p>
  <strong>Pavimento:</strong>
  <%= @bci.pavimento %>
</p>

<p>
  <strong>Padrao:</strong>
  <%= @bci.padrao %>
</p>

<p>
  <strong>Utilizacao:</strong>
  <%= @bci.utilizacao %>
</p>

<p>
  <strong>Material:</strong>
  <%= @bci.material %>
</p>

<p>
  <strong>Ano const:</strong>
  <%= @bci.ano_const %>
</p>

<p>
  <strong>Area const:</strong>
  <%= @bci.area_const %>
</p>

<p>
  <strong>Area lote:</strong>
  <%= @bci.area_lote %>
</p>

<p>
  <strong>Test frente:</strong>
  <%= @bci.test_frente %>
</p>

<p>
  <strong>Test direita:</strong>
  <%= @bci.test_direita %>
</p>

<p>
  <strong>Test fundos:</strong>
  <%= @bci.test_fundos %>
</p>

<p>
  <strong>Test esquerda:</strong>
  <%= @bci.test_esquerda %>
</p>

<p>
  <strong>N test:</strong>
  <%= @bci.n_test %>
</p>

<p>
  <strong>Area test:</strong>
  <%= @bci.area_test %>
</p>

<p>
  <strong>Qtd test:</strong>
  <%= @bci.qtd_test %>
</p>

<p>
  <strong>Profu:</strong>
  <%= @bci.profu %>
</p>

<p>
  <strong>Sarjeta:</strong>
  <%= @bci.sarjeta %>
</p>

<p>
  <strong>Coleta lixo:</strong>
  <%= @bci.coleta_lixo %>
</p>

<p>
  <strong>Agua:</strong>
  <%= @bci.agua %>
</p>

<p>
  <strong>Esgoto:</strong>
  <%= @bci.esgoto %>
</p>

<p>
  <strong>Iluminacao:</strong>
  <%= @bci.iluminacao %>
</p>

<p>
  <strong>Energia:</strong>
  <%= @bci.energia %>
</p>

<p>
  <strong>Pavimentacao:</strong>
  <%= @bci.pavimentacao %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @bci.telefone %>
</p>

<p>
  <strong>Guia:</strong>
  <%= @bci.guia %>
</p>

<p>
  <strong>Situacao lote:</strong>
  <%= @bci.situacao_lote %>
</p>

<p>
  <strong>Pedologia:</strong>
  <%= @bci.pedologia %>
</p>

<p>
  <strong>Urbanismo:</strong>
  <%= @bci.urbanismo %>
</p>

<p>
  <strong>Terreno:</strong>
  <%= @bci.terreno %>
</p>

<p>
  <strong>Nivel rua:</strong>
  <%= @bci.nivel_rua %>
</p>

<p>
  <strong>Ocupacao:</strong>
  <%= @bci.ocupacao %>
</p>

<p>
  <strong>Valor m terreno:</strong>
  <%= @bci.valor_m_terreno %>
</p>

<p>
  <strong>Valor venal:</strong>
  <%= @bci.valor_venal %>
</p>

<p>
  <strong>Valor pvg:</strong>
  <%= @bci.valor_pvg %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @bci.descricao %>
</p>

<%= link_to 'Edit', edit_bci_path(@bci) %> |
<%= link_to 'Back', bcis_path %>
